@use "../styles/mixins";

.bg {
  height: 100%;

  background-color: var(--theme-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

/* @include mixins.chat-pattern-background removed */

  &::before {
    @media (max-width: 600px) {
      bottom: auto;
      height: calc(var(--vh, 1vh) * 100);
    }
  }

  background-image: url("../assets/fon.png"); /* WarpGram custom bg */

  @media (max-width: 600px) {
    height: calc(var(--vh, 1vh) * 100);
  }
}
